#Front
    #Server
    VUE_APP_URL=
    VUE_APP_PORT=

#Back
    #Server
    DATABASE_URL=
    SECRET=
    PORT=

    #Client
    CLIENT_PORT=8081
    CLIENT_URL=0.0.0.0

    # Google
    YOUTUBE_API_TOKEN=
    GOOGLE_CLIENT_ID=
    GOOGLE_CLIENT_SECRET=
    GOOGLE_REDIRECT_URL=
    GOOGLE_REDIRECT_URL_MOBILE=

    # Spotify
    SPOTIFY_CLIENT_ID=
    SPOTIFY_CLIENT_SECRET=
    SPOTIFY_REDIRECT_URL=
    SPOTIFY_REDIRECT_URL_MOBILE=

    # Github
    GITHUB_CLIENT_ID=
    GITHUB_CLIENT_SECRET=
    GITHUB_REDIRECT_URL=
    GITHUB_REDIRECT_URL_MOBILE=

    # Discord
    DISCORD_BOT_TOKEN=

#Database
    MYSQL_DATABASE=
    MYSQL_USER=
    MYSQL_PASSWORD=
    MYSQL_ROOT_PASSWORD=
