#Back
    #Server
    DATABASE_URL=mysql://root:password@db:3306/dev
    SECRET=
    PORT=8080

    #Client
    CLIENT_PORT=8081
    CLIENT_URL=0.0.0.0

    #Google
    YOUTUBE_API_TOKEN=
    GOOGLE_CLIENT_ID=
    GOOGLE_CLIENT_SECRET=
    GOOGLE_REDIRECT_URL=http://localhost:8081/create
    GOOGLE_REDIRECT_REGISTER_URL=http://localhost:8081/login

    #Spotify
    SPOTIFY_CLIENT_ID=
    SPOTIFY_CLIENT_SECRET=
    SPOTIFY_REDIRECT_URL=http://localhost:8081/create

    #Github
    GITHUB_CLIENT_ID=
    GITHUB_CLIENT_SECRET=
    GITHUB_REDIRECT_URL=http://localhost:8081/create

    #Discord
    DISCORD_BOT_TOKEN=
    DISCORD_CLIENT_ID=
    DISCORD_CLIENT_SECRET=
    DISCORD_REDIRECT_URL=http://localhost:8081/create

    #OpenWeather
    OPEN_WEATHER_API_KEY=

#Database
    MYSQL_DATABASE=
    MYSQL_USER=
    MYSQL_PASSWORD=
    MYSQL_ROOT_PASSWORD=